.headerNavBar{
    width: 100%;
    height: 10vh;
    background-color: #11151C;
    color: #31E981;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #31E981 solid 3px;
}

.headerNavBar h1{
    margin-left: 2%;
}

.main-navbar{
    width: 20%;
    margin-right: 2%;
}

.main-navbar ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-navbar li{
    list-style-type: none;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 2%;
}

.main-navbar li:hover{
    background-color: #31E981;
    color: #11151C;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width: 480px){
    /* .main-navbar{
        width: 60%;
    } */

    #btnJoinNavBar{
        display: none;
    }
}

/* homepage style */

.mainContent-homepage{
    width: 100%;
    height: 90vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent-homepage img{
    width: 100%;
    height: 100%;
    position: relative;
}

.text-mainContent{
    position: absolute;
    font-size: 50px;
    color: #F9FBF2;
    /* color: #31E981; */
}

.text-mainContent h1{
    text-align: center;
}

.divConceptModel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    /* border: solid 1px #11151C; */
    /* background-color: #111110; */
    color: #11151C;
    width: 98vw;
    margin-left: 0.4vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.divConceptModel h2{
    margin-bottom: 3%;
    text-align: center;
}

.divPaiSteps{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
}

.stepsOut{
    height: 100%;
    width: 18%;
    /* background-color: #191917; */
    border-radius: 5px;
    box-shadow: 2px 2px 4px;
}

.steps{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 140%;
    /* background-color: #191917; */
    border-radius: 5px;
    /* transform: scale(0); */
    transition: transform 1s;
    /* border: solid 1px #11151C; */
}

.steps p{
    text-align: center;
}

.footerHomepage{
    background-color: #11151C;
    color: #F9FBF2;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 480px){
    .text-mainContent{
        font-size: 25px;
    }
}