*{
	margin: 0;
	padding: 0;
}

.mainDiv{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.outerClass{
	width: 100vw;
	height: 100vh;
	/*background-color: red;*/
	display: flex;
	/*justify-content: center;
	align-items: center;*/
	flex-direction: column;
	overflow: hidden;
	position: absolute;
}

.innerClassTop{
	/*width: 0vw;*/
	height: 50vh;
	background-color: #11151C; /*#BAFF29*/
	position: absolute;
	/*transition: width 1s;*/
	animation: move1 1s forwards;
}

.innerModTop{
	position: relative;
	z-index: -1;
	/*width: 0vw;*/
	/*transform-origin: top left;*/
	transform: skewY(-20deg);
	/*transition: width 1s;*/
	animation: move2 1s forwards;
	/*opacity: 0.5;*/
}

@keyframes move1{
	0%{
		width: 0;
	}

	100%{
		width: 50vw;
	}
}

@keyframes move2{
	0%{
		width: 0;
	}

	100%{
		width: 100vw;
	}
}

.innerClassBottom{
	width: 50vw;
	height: 50vh;
	position: absolute;
	background-color: #11151C; /*#262626*/
	/* transition: width 2s; */
	animation: movel 1s forwards;
}


.innerModBottom{
	position: relative;
	z-index: -1;
	width: 100vw;
	transform: skewY(-20deg);
  	animation: move 1s forwards;
}

@keyframes move{
	0%{
		right: -100%;
	}
	100%{
		right: 0;
	}
}

@keyframes movel{
	0%{
		right: -100%;
	}
	100%{
		right: -50%;
	}
}

.toRight{
	margin-left: 50vw;
	animation: move 1s forwards;
}

.form{
	width: 30vw;
	height: 50vh;
	background-color: #F9FBF2;
	color: #11151C;
	position: relative;
	border-radius: 20px;
	box-shadow: 10px 10px 30px;
}

.form h2{
	font-size: 40px;
	width: 90%;
	margin-left: 4%;
	text-align: center;
	margin-bottom: 4%;
	border-bottom: solid 1px #11151C;
	padding: 2%;
}

.form p{
	text-decoration: underline;
	margin-top: 7%;
	text-align: center;
}

.form p:hover{
	cursor: pointer;
}

.divInputForm{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 90%;
	height: 50%;
	margin-left: 5%;
}

.divInputForm input{
	height: 20%;
	border: none;
	background-color: #F9FBF2;
	box-shadow: 1px 1px 5px;
	border-radius: 5px;
	padding: 2px;
}

.divInputForm input:hover{
	/* background-color: #BD1E1E; */
}

.form button{
	width: 40%;
	height: 20%;
	margin-left: 60%;
	border: none;
	background-color: #11151C;
	color: #31E981;
	font-weight: bold;
	border-radius: 20px;
	box-shadow: 1px 1px 5px #11151C;
}

.form button:hover{
	cursor: pointer;
	background-color: #05070A;
}

.mainContentLogin{
	display: flex;
	justify-content: space-around;
	/* align-items: center; */
	height: 70%;
	width: 50%;
	/* transform: scale(0); */
	/* transition: transform 1s; */
}

.formButtonJoin{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 10;
	height: 70%;
	position: absolute;
}

.joinSection{
	width: 100%;
	height: 15%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #F9FBF2;
	box-shadow: 1px 1px 5px;
	border-radius: 10px;
	padding: 2px;
}

.joinSection p{
	color: #11151C;
}

.joinSection button{
	width: 60%;
	height: 40%;
	border: none;
	background-color: #11151C;
	color: #31E981;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #11151C;
}

.joinSection button:hover{
	cursor: pointer;
	background-color: #05070A;
}

.optLogin{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 50%;
	width: 100%;
	margin-left: 5%;
	/* box-shadow: 1px 1px 5px #11151C; */
	padding-left: 80%;
	/* padding-right: 0; */
	position: relative;
	z-index: 0;
}

.optLogin span{
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	background-color: #F9FBF2;
	text-align: center;
	box-shadow: 1px 1px 10px #11151C;
}

#spanIconfacebook:hover{
	cursor: pointer;
	color:#124E78;
}

#spanIconGoogle:hover{
	cursor: pointer;
	color:#BD1E1E;
}

#spanIconGithub:hover{
	cursor: pointer;
	color:#05070A;
}

.optLogin span i{
	transform: scale(1.7);
}

.fa-facebook-f, .fa-google, .fa-github{
	margin-top: 35%;
}

.divBtnHome{
	padding-top: 2%;
}

@media(max-width: 480px){
	.form{
		width: 80vw;
	}
	.joinSection{
		margin-top: 40%;
	}
	.mainContentLogin{
		flex-direction: column;
		justify-content: center;
		margin-right: 30vw;
	}
	.formButtonJoin{
		/* position: static; */
	}
	.optLogin{
		/* display: none; */
		/* position: static; */
		flex-direction: row;
		margin-left: 0;
		padding-left: 0;
		margin-top: 155%;
		width: 80vw;
		/* z-index: 100; */
	}
	.divBtnHome{
		display: none;
		transform: scale(0.6);
	}
}