.headerProjects{
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    color: #31E981;
    background-color: #11151C;
}

.headerProjects h1{
    /* margin-left: 2%; */
    width: 10%;
}

.headerProjects h1:hover, p:hover{
    cursor: pointer;
}

.headerProjects p{
    width: 10%;
    margin-left: auto;
    /* margin-right: 2%; */
}

.mainDivCreateProject{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.mainPage{
    width: 60%;
    height: 100%;
    margin-left: 3%;
    box-shadow: 1px 1px 10px;
    /* background-color: red; */
}

.inputTitulo{
    width: 50%;
    height: 10vh;
    margin-top: 2%;
    margin-left: 25%;
    border: none;
    background-color: #F9FBF2;
    font-size: 200%;
    text-align: center;
    animation: heiglight 1s ease;
}

@keyframes heiglight{
    0%{
        border: solid 0.1px #76BBDB;
    }

    100%{
        border: none;
    }
}

.mainPage p{
    width: 50%;
    margin-left: 25%;
    text-align: start;
    color: #707271;
    /* background-color: red; */
}

.inputParagraph{
    width: 80%;
    height: 80vh;
    margin-top: 2%;
    margin-left: 10%;
    border: none;
    background-color: #F9FBF2;
    font-size: 20px;
    text-align: start;
    box-sizing: border-box;
    line-height: 1.5;
    animation: heiglight2 2s ease;
}

@keyframes heiglight2{
    50%{
        border: solid 0.1px #76BBDB;
    }

    100%{
        border: none;
    }
}

.divListRequire{
    padding-top: 2%;
    width: 30%;
    height: 100%;
    overflow: auto;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    /* justify-content: space-around; */
    /* background-color: blue; */
}

.divListRequire h1{
    margin-bottom: 3%;
    text-align: center;
}

.divCarP, .divCarCreate{
    width: 90%;
    height: 20vh;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    padding: 2%;
    box-shadow: 1px 1px 10px;
}

.divCarP input{
    background-color: #F9FBF2;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    outline: none;
}

/* .divCarCreate{
    animation: heiglight3 3s;
}
    
@keyframes heiglight3{
    50%{
        border: solid 0.1px #11151C;
    }

    100%{
        border: none;
    }
} */


.divCarP h3{
    border-bottom: 1px solid #707271;
}

.divCarP button, .formCreate button{
    width: 40%;
    margin-left: 60%;
    border-radius: 10px;
    border: none;
    padding: 1%;
    box-shadow: 1px 1px 5px;
    background-color: #F9FBF2;
}

.divCarP button:hover, .formCreate button:hover{
    cursor: pointer;
}

#iconsParticipate{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    /* background-color: #11151C; */
    /* overflow: hidden; */
}

.divCarCreate{
    justify-content: center;
    align-items: center;
    /* animation: heiglight3 3s; */
}

/* @keyframes heiglight3{
    50%{
        border: solid 0.1px #11151C;
    }

    100%{
        border: none;
    }
} */

#btnPlus{
    border-radius: 50%;
    padding: 5%;
    border: none;
    background-color: #F9FBF2;
    box-shadow: 1px 1px 5px;
}

#btnPlus:hover{
    cursor: pointer;
    /* background-color: #707271; */
}

.formCreate{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formCreate input{
    height: 20%;
    /* border:none; */
}

.divBtnCardP{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editOpc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    width: 10%;
}

.spanX{
    color: #707271;
}

.spanX:hover{
    cursor: pointer;
    color: #BD1E1E;
}

#divBottomIcons{
    /* background-color: blue; */
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 27%;
    overflow: hidden;
}

.divTopIcons{
    background-color: rgba(17, 21, 28, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.btnRemove{
    color: #BD1E1E;
}

.btnRemove:hover, .btnAdd:hover{
    cursor: pointer;
}

.btnAdd{
    color: #31E981;
    opacity: 1;
}

#btnA, #btnR{
    opacity: 1;
}

@media(max-width: 480px){
    .mainDivCreateProject{
        flex-direction: column;
        justify-content: space-around;
    }

    .mainPage{
        width: 90%;
        margin-left: 5%;
    }

    .divListRequire{
        width: 90%;
        margin-left: 3%;
    }
}